<div class="container">
	<h2 class="ml-3">All <%= @quotes.count %> QUOTES</h2>
	<center>
		<%= link_to '<i class="fas fa-plus"></i> <b>Submit Your Quote</b>'.html_safe, new_quote_path, class: "btn btn-info mb-3" %>
	</center>
	<% num = 0 %>
	<% @quotes.each do |quotes| %>
	<% num +=1 %>
	<%= num %>.
	<%= quotes.quotes %><br>
	<%= quotes.author %><hr>
	<% end %>
</div>
