<div class="container">

	<%= form_for @quote do |form| %>


    <div class="field">
      <%= form.label :quote %>
      <%= form.text_area :quotes, class: 'form-control',required: "true" %>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="field">
      <%= form.label :author %>
      <%= form.text_field :author, class: 'form-control', placeholder: "Please enter only Author Name",required: "true" %>
    </div>

    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-success btn-block mt-3" %>
    </div>

    <% end %>
</div>
<style>
    .neat {
            min-height: calc(100vh - 143px);
           }
  </style>
