


	<h1>This is test mail</h1>
	<h3>Your email is - <%= @user.email %></h3>
	<h3>Newly created task is - > <%= @task.name %></h3>
	<h5>Created todos - <%= @task.todos.count %> todos for this task</h5>
		
	<div class="w3-light-grey w3-round" >
	    <div class="w3-container w3-blue w3-round" style="width:<%= @width.to_i %>%;background-color: red;color: white;border-color: black"><%= @width.to_i %>%
	    </div>

		<%= @width.to_i %>% completed<br>
		<center>
			<% if @completed == @todos_total %>
				All <%= @todos_total %> todo's are Completed
			<% elsif  @completed == 0 %>
				<%= @completed %> out of <%= @todos_total %> are completed, Remember Every-thing Start from zero.
			<% else %>
				<%= @completed %> out of <%= @todos_total %> are completed
			<% end %>
		</center>
	<ul>
		<% @task.todos.each do |todo| %>
		<li><%= todo.name %></li>
		<% end %>
	</ul>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Stuart</td>
      <td>Yam</td>
      <td>@StuYam</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Who</td>
      <td>You</td>
      <td>@?!</td>
    </tr>
  </tbody>
</table>
<hr>
<a class="btn btn-primary" href="https://bootstrapemail.com">Primary</a>
<a class="btn btn-secondary" href="https://bootstrapemail.com">Secondary</a>
<a class="btn btn-success" href="https://bootstrapemail.com">Success</a>
<a class="btn btn-danger" href="https://bootstrapemail.com">Danger</a>
<a class="btn btn-warning" href="https://bootstrapemail.com">Warning</a>
<a class="btn btn-info" href="https://bootstrapemail.com">Info</a>
<a class="btn btn-light" href="https://bootstrapemail.com">Light</a>
<a class="btn btn-dark" href="https://bootstrapemail.com">Dark</a>
