	<h6 class="mt-2 text-center text-dark" style="color: #BB2CD9"><b>Hi Amigo, <%= @user.email.capitalize %></b></h6>
	<hr class="hrtag">
	<h6 class="mt-2 text-dark">Created Todo is -> <b><%= @task.name.capitalize %></b></h6>
	<p class="mt-2 mb-2 text-dark">Created Tasks are <b><%= @task.todos.count %></b> for this Todo</p>

		<div id="progressbar">
		  <div style="width: <%= @width.to_i %>%"></div>
		</div>

		<center><%= @width.to_i %>% completed<br></center>
		
		<% num = 0 %>
		<% @task.todos.each do |todo| %>
			<% num += 1 %>
		<%= num %>.	<span style="color: #EA7773"><b><%= todo.name.capitalize[0...26] %></b></span> <% if todo.completed %> <span class="text-success">&#10004;</span> <% else %> <span class="text-danger">&#10006;</span> <% end %><br>
		<% end %>
		<span class="text-dark mt-2 mb-1">
			<% if @completed == @todos_total %>
				All <%= @todos_total %> todo's are Completed
			<% elsif  @completed == 0 %>
				<%= @todos_total %> out of <%= @completed %> are completed, Remember Every-thing Starts from zero.
			<% else %>
				<%= @todos_total %> out of <%= @completed %> are completed
			<% end %>
		</span>
<center><%= link_to "View this Todo", user_task_url(@task.id), class: "btn btn-primary mt-2" %> <span class="text-dark">Have a Great Day</span></center>
<img src="https://i.ibb.co/4wbDb3G/signature.png" style="width: 250px" class="float-right">


<style >
	#progressbar {
  background-color: lightgrey;
  border-radius: 13px;
  padding: 3px;
}

#progressbar>div {
  background-color: green;
  height: 20px;
  border-radius: 10px;
}
.hrtag {
	width: 50%;
}
</style>


