<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 col-sm-2"></div>
    <div class="col-11 col-lg-4 chill1 col-sm-6 text-center ">
      <h2 class="text-white">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control", placeholder: "Email" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
          </div>
          <%= f.password_field :password, autocomplete: "current-password" , class: "form-control", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me , class: "text-white"%>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" , class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-12 col-lg-4 col-sm-2 chill3"></div>
  </div>
</div>
<style >
  .chill1 {
    background-image: url('/images/1login_back.jpg');
    background-size: 130% 100%;
    padding-top: 5%;
    padding-left: 50px; 
    padding-right: 50px; 
    padding-bottom: 180px;
    border-radius: 12px;
    margin-top: 3%;
    box-shadow:   5px 5px 50px -20px white;
  }
  body {
    background-image: url('/images/1.jpg');
    background-size: cover;
  }
  /*For Phone*/
    @media (max-width: 599px) { 

      .chill1 {
        margin-left: 15px;
        margin-top: 35px;
        padding-top: 20%;
        padding-bottom: 100px;
        box-shadow: 5px 5px 70px -35px white;
      }
       body {
          background-image: url('/images/3.jpg');
          background-size: cover;
        }

        } 
</style>
