<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.2.0/dist/confetti.browser.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
  <%= link_to "Todo YO!!", "#", class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", user_tasks_path, class: "nav-link" %> 
      </li>
      <% if current_user %>
      <li class="nav-item active">
        <%= link_to "Manage", manage_path , class: "nav-link" %>
      </li>
      <% end %>
      <li class="nav-item active">
        <%= link_to "About us", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "How this work", "#", class: "nav-link" %>
      </li>
      
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if !current_user %>
      <li>
        <span class="mr-2 mb-1"><%= link_to "Log-in", new_user_session_path, class: "btn btn-outline-success text-dark" %></span> || <span class="mx-2 "><%= link_to "Register", new_user_registration_path, class: "btn btn-outline-warning text-dark" %></span>
      </li>
      <li>
        
      </li>
      <% end %>
      <li class="nav-item dropdown">
        <% if current_user %>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email.camelcase %>
        </a>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <% if current_user %>
           <%= link_to "Edit details", edit_user_registration_path(current_user), class: "dropdown-item" %>
            <%= link_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% end %>
      </li>
    </ul>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
