<div class="nested-fields">
	<div class="field">
	    <%= f.label :task_name %> :
	    <%= f.text_field :name %><br>
	
	
	    <%= f.label :completed %>
	    <%= f.check_box :completed %><i class="fas fa-tasks"></i>
	</div>
	    <i class="fas fa-trash" style="color:red"></i><%= link_to_remove_association "Delete", f, class: "text-danger" %>
	    <hr>
</div>