 <div class="nested-fields">
	<div class="field">
	    <%= f.label :name %>
	    <%= f.text_field :name %><br>
	
	
	    <%= f.label :completed %>
	    <%= f.check_box :completed %>
	</div>
	    <%= link_to_remove_association "remove todo ", f, class: "text-danger" %>
	
</div>