<div class="nested-fields">
	<div class="field">
	    <%= f.label :task_name %> :
	    <%= f.text_field :name %><br>
	
	
	    <%= f.label :completed %>
	    <%= f.check_box :completed %>
	</div>
	    <%= link_to_remove_association "Remove ", f, class: "text-danger" %>
	    <hr>
</div>