<center>
	<%= link_to '<i class="fas fa-plus"></i> <b>Create New Todo</b>'.html_safe, new_user_task_path, :class => "btn btn-primary mb-2 color1" %>
</center>

<div class="container">
	<div class="row"> 

		<div class="col-lg mb-4">
			<div class="card" >
			  <div class="card-header">
			    <h3><i class="fas fa-tasks"></i> <b> All Todo's</b></h3>
			  </div>
			</div>

			
		    
			<% @tasks.each do |task| %>
				<div class="tasks mt-2 md-3">

					<i class="fal fa-edit"></i> <%= link_to task.name.capitalize, user_task_path(task) %>
					
					<% if task.todos.where(completed: true).count == task.todos.count && task.todos.count != 0 %>
						<span class="badge badge-success float-right">Completed</span>
					<% elsif task.todos.count != 0 && task.todos.where(completed: true).count > 0 %>
					    <span class="badge badge-warning float-right">On progress</span>
					<% else %>
						<span class="badge badge-secondary float-right">Not started</span>
					<% end %>
				</div>
			<% end %>
		</div>

		<div class="col-lg">
			Testing , Total no of tasks - <%= current_user.user_tasks.count %><br>
			no of tasks completed - <%= current_user.user_tasks.where(completed: true).count %> <br>
			<canvas id="myChart" width="300" height="200"></canvas>
		</div>

	</div>
</div>
  

<style >
	.tasks {
		background-color: #f1f1f1;
		border-radius: 8px;
		padding: 8px 20px 8px 40px;
		box-shadow: 5px 10px 30px #888888;
	}

	.badge {
		font-size: 13.4px
	}

	.color1 {
		background-color: #BB2CD9;
		border-color: #BB2CD9 
	}
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	    background-color: #BB2CD9;
	    border-color: #BB2CD9; /*set the color you want here*/
	}
</style>  

<script >
	var completed = <%= current_user.user_tasks.where(completed: true).count %>;
	var total = <%= current_user.user_tasks.count %>;
	var notcompleted = total - completed;
	var ctx = document.getElementById('myChart');
	
	var myChart = new Chart(ctx, {
	    type: 'horizontalBar',
	    data: {
	        labels: [ 'Total', 'Completed', 'Pending'],
	        datasets: [{
	            label: "of Todo's",
	            data: [total, completed, notcompleted],
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(255, 206, 86, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(255, 206, 86, 1)'
	            ],
	            borderWidth: 2
	        }]
	    },
	    options: {
	    	title: {
	            display: true,
	            text: 'Graphical Representation'
	        },
	        scales: {
	            xAxes: [{barThickness: 10, 
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	});
</script>