<div class="container">

  <h1>Create To-do list </h1>
  <div class="row">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-lg-7">
    	<%= form_for @task do |form| %>

        <div class="field">
          <%= form.label :todo_name %>
          <%= form.text_field :name, class: 'form-control', required: "true" %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_field :description, class: 'form-control', placeholder: "optional", required: "true" %>
        </div>

        <%= form.hidden_field :user_id, value: current_user.id %>

        <h5 class="mt-1">( you can add as many tasks you want )</h5><br>
        <% form.fields_for :todos do |todo| %>
          <%= render 'todo_fields', f: todo %>
        <% end %>
        <div class="links">
        <%= link_to_add_association "Add task", form, :todos, class: "btn btn-warning btn-sm", id: "lazy" %>
        </div>

        <div class="actions">
          <center><%= form.submit "Create ", class: "btn btn-success btn-lg mt-3" %></center>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-2"></div>
  </div>
  <div class="text-center text-danger mt-5"><b style="font-size: 15px"><%= @quote.quotes.capitalize %></b></div>
  

</div>
  <style>
    .neat {
            min-height: calc(100vh - 143px);
           }
  </style>
  <script >
    function hello() {
      var lazy = document.getElementById("lazy").click();
    }
    del = setTimeout(hello, 100)
  </script>