<%= render 'shared/notice' %>
<div class="container">

	<div class="progress" style="height: 20px">
	  <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" id="test" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:<%= @width.to_i %>%"><%= @width.to_i %> %</div>
	</div>
	<center>
		<% if @completed == @total_count %>
			<% if @completed == 1 %>
				<span class="descriptive">All Tasks are completed</span> 
			<% else %>
			  <span class="descriptive">All <%= @total_count %> Tasks are Completed</span>
			<% end %>

		<% elsif  @completed == 0 %>
			<%= @completed %> out of <%= @total_count %> are completed, Remember Every-thing Start from zero.
		<% else %>
			<%= @completed %> out of <%= @total_count %> Task/s are completed
		<% end %>
	</center>

	<h2 class="ml-3">Todo - <%= @task.name.capitalize %> </h2>
	<div>
		Description - <%= @task.description.capitalize %>
	</div>
	
	<center>
		<div class="mb-4">
			<%= link_to "Edit", edit_user_task_path , class: "btn btn-primary mr-2 " %>
			<button class="btn btn-warning" onclick="task()">Add Task</button>
		</div>
	</center>

	
	<%= form_for @task do |form| %>

	    <%= form.hidden_field :user_id, value: current_user.id %>
	    <%= form.fields_for :todos do |todo| %>
	      <%= render 'todo_fields', f: todo %>
	    <% end %>

	    <div class="links" id="scrolll">
	    <%= link_to_add_association "Add Task", form, :todos , id: "task1" , style: "display: none" %>
	    </div>

	    <div class="actions">
	      <%= form.submit "Update", class: "btn btn-success mt-3", id: "update1" , :style => "display: none;" %>
	    </div>
	<% end %>

</div>
</div>


<script >
 
 var end = Date.now() + (2 * 400);
 var colors = ['#bb0000', '#FFF222', '#34eb4f', '#2B2B52'];
 var width = <%= @width %>
 
	if (width==100.0) {
		(function frame() {
		  confetti({
		    particleCount: 10,
		    angle: 60,
		    spread: 300,
		    origin: { x: 0 },
		    colors: colors
		  });
		  confetti({
		    particleCount: 10,
		    angle: 120,
		    spread: 300,
		    origin: { x: 1 },
		    colors: colors
		  });

		  if (Date.now() < end) {
		    requestAnimationFrame(frame);
		  }
		}());
	};

	function task(){
		document.getElementById("task1").click();
		document.getElementById("scrolll").scrollIntoView();
	};

	function magic() {
		document.getElementById('update1').click();
	}

	function fundel() {
		var del;
		del = setTimeout(magic, 100)
	}

</script>

<style>
	.descriptive {
		font-size: 19px;
	}
</style>





